  <button data-hi-trigger="on-click" data-message="Hello Stewie" class="btn btn-info text-success" type="button">
    Stewie
  </button>
  <button data-hi-trigger="on-click" data-message="Hello Peter" class="btn btn-dark text-danger" type="button">
    Peter
  </button>
  <button data-hi-trigger="on-click" data-message="Hello Lois" class="btn btn-danger text-ingo" type="button">
    Lois
  </button>
  <button data-hi-trigger="on-click" data-message="Hello Chris" class="btn btn-dark text-light" type="button">
    Chris
  </button>
  <button data-hi-trigger="on-click" data-message="Hello Brian" class="btn btn-warning text-secondary" type="button">
    Brian
  </button>
  <button data-hi-trigger="on-click" data-message="Hello Meg" class="btn btn-white text-dark" type="button">
    Meg
  </button>

