  
<div class="pt-2 ms-3">
  <div class="row">
    <div class="col-3">
      <button data-hi-trigger="on-click" data-message="Hello Stewie" class="btn btn-info text-success" type="button">
        Stewie
      </button>
    </div>

    <div class="col-9">
      <ul id="list">
        <% 10.times do %>
          <li>
            <div class="row p-2">
              <div class="col-3">
                <div class="img">
                  <img src="https://via.placeholder.com/300x300"/>
                </div>
              </div>
              <div class="col-9">
                <p>sadasdasdad</p>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

